.dice-border {
    border-radius: 1rem;
    border-color: black;
    border-width: 0.1rem;
    border-style: solid;
    text-align: center;
    width: 10rem;
}
fa-icon {
    display: block;
}
button {
    display: inline-block;
    margin: 1rem;
    width: 8rem;
}